# ----------------------------------------
# Node.js / npm / yarn
# ----------------------------------------
node_modules/

# ----------------------------------------
# General
# ----------------------------------------
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.bak

# IDE / Editor folders
.vscode/

fetchdata.bat